

/* suits for signin and signup windows*/
window {
    background-color: #000000;
}

button {
    background: transparent;
    border: none;
    color: #7fff00;
    font-size: 4.125em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border: none;
}

button:focus {
    color: #000000;
    background: #7fff00;
    border-color: #7fff00;
    border-width: 2.5px;
    border-radius: 6px;
}

entry {
    color: #7fff00;
    font-size: 2.125em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

entry:focus {
    border-color: unset;
    outline-color: unset;
    border-width: 2.5px;
    border-radius: 8px;
}

checkbutton check {
    border-radius: 30px;
    border-color: chartreuse;
    background-color: #000000;
    background: #000000;
}

checkbutton:checked check {
    background-color:  #7fff00;
    background: #000000;
    color: #7fff00;
}
