/* 
* our_msg_box - box of msg our user
* other_msg - msgs box of other users
*/

/* scrolledwindow {
    background-image: url("../res/background/texture1.jpeg");
} */

window {
    background: #0b0c10;
    /* background-image: url("/Users/akrasnosel/Desktop/client/client/res/imgs/bg/black_liquid.png"); */
    /* background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%); */
}

window * {
    border: none;
    -gtk-icon-shadow: none;
}

/* notebook.frame {
    background: #F2F4F4;
    border: none;
} */

notebook header.top tabs {
    background: rgb(116, 116, 116);
}

list {
    border: none;
    background: #060608;
    opacity: 50;
    /* background: #1f2833; */
    /* background-image: linear-gradient(to bottom, #1f2833 0%, #0b0c10 100%); */
}

#time_lbl {
    color: #fff;
}

/* #send_msg_lbl {

} */

/* create chat */
 /* #image1 {
    border: 1px black solid;
    border-radius: 3px;
    background-color: rgb(116, 116, 116);
} */

/* log out */
/* #image2 {
    border: 1px black solid;
    border-radius: 3px;
    background-color: rgb(116, 116, 116);
} */

/* settings out */
/* #image3 {
    border: 1px black solid;
    border-radius: 3px;
    background-color: rgb(116, 116, 116);
} */

/* send file */
/* #image6 {
    border: 1px black solid;
    border-radius: 3px;
    background-color: rgb(116, 116, 116);
} */
/* send sticker*/
/* #image5 {
    border-radius: 3px;
    background-color: rgb(116, 116, 116);
} */
/* send msg*/
/* #image4 {
    border-radius: 3px;
    background-color: rgb(116, 116, 116);
} */


#search_panel {
    background: #0b0c10;
}

list row.activatable {
    border: none;
    background: none;
    box-shadow: none;
}

/* separator.wide {
    background: radial-gradient(circle at center, #F1C40F, #F4D03F, #F7DC6F);
} */

/* #our_msg_box {
    background-color: #f00;
} */

button {
    background: transparent;
}

button {
    box-shadow: inherit;
    text-shadow: inherit;
    border: none;
}

/* button.image-button image:hover {
    box-shadow: none;
    text-shadow: none;
    border: none;
} */

#other_msg {
    padding: 10px;
    border-radius: 10px;
    background: #c5c6c7;
    margin-right: 250px;
    color: #000000;
}

#our_msg_box {
    padding: 10px;
    margin-left: 250px;
    margin-right: 0px;
    border-radius: 10px;
    background: #66fcf1;
    color: black;
}



#grid_stickers {
    background: linear-gradient(45deg, #0d0c14, #2b2b2e);
}

#send_sticker_msg {
    background: transparent;
    margin-left: 250px;
}

#rec_sticker_msg {
    background: transparent;
    margin-right: 250px;
}

box #text_entry {
    background-color: #0d0f14;
    
}

#text_entry {
    /* padding:10px; */
}

#text_entry.view text {
    padding: 10px;
    margin: 10px;
    border: solid silver 1px;
    color: #ddd;
    background: #0d0f14;
    background: linear-gradient(to right, #1d1e22, #26272b);
}

#send_audio_box {
    border: 2px rgb(225, 251, 252) solid;
    background-color: rgb(196, 201, 201);
    border-radius: 4px;
}

#chat_names {
    background: #060608;
}

button#chat_names:hover {
    border: #66fcf1;
}

paned separator.wide {
    background: #020303;
}

#box_profile {
    border: 1px solid silver;
    background-color: #eeeeee;
}
