#box_profile {
    background-color: rgb(224, 224, 224);
    color: #000;
    border: black 2px solid;
}


window {
    background: #0b0c10;
    /* background-image: url("/Users/akrasnosel/Desktop/client/client/res/imgs/bg/black_liquid.png"); */
    /* background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%); */
}

window * {
    border: none;
    -gtk-icon-shadow: none;
}

/* notebook.frame {
    background: #F2F4F4;
    border: none;
} */

notebook header.top tabs {
    background: rgb(255, 255, 255);
}

list {
    border: none;
    background: #060608;
    opacity: 50;
    /* background-color: white; */
    /* background: #1f2833; */
    /* background-image: linear-gradient(to bottom, #1f2833 0%, #0b0c10 100%); */
}

button {
    background: transparent;
}

#box_profile button {
    color: black;
}

button:hover {
    border:0px solid rgb(255, 255, 255);
    background: #444;
}

button {
    box-shadow: inherit;
    text-shadow: inherit;
    border: none;
}

#time_lbl {
    color: #fff;
}

#del_btn {
    /* background: rgb(116, 116, 116); */
}

#edit_btn {
    /* background: rgb(116, 116, 116); */
}

#send_msg_lbl {

}

#search_panel {
    background: #0b0c10;
}

list row.activatable {
    border: none;
    background: none;
    box-shadow: none;
}

/* separator.wide {
    background: radial-gradient(circle at center, #F1C40F, #F4D03F, #F7DC6F);
} */

/* #our_msg_box {
    background-color: #f00;
} */

#dialog_btn {
    background-color: #f00;
}

button {
    background: transparent;
}

button {
    box-shadow: inherit;
    text-shadow: inherit;
    border: none;
}

/* button.image-button image:hover {
    box-shadow: none;
    text-shadow: none;
    border: none;
} */

#other_msg {
    padding: 10px;
    border-radius: 5px;
    background: #383838;
    margin-right: 250px;
    margin-bottom: 10px;
    color: rgb(209, 209, 209);
    border: rgb(146, 146, 146) 1px solid;
}

#our_msg_box {
    padding: 10px;
    margin-left: 250px;
    margin-right: 0px;
    border-radius: 5px;
    border: whitesmoke 1px solid;
    background: #0f0f0f;
    color: rgb(219, 219, 219);
}



#grid_stickers {
    background: linear-gradient(45deg, #0d0c14, #2b2b2e);
}

#send_sticker_msg {
    background: transparent;
    margin-left: 250px;
}

#rec_sticker_msg {
    background: transparent;
    margin-right: 250px;
}

box #text_entry {
    background-color: #0d0f14;
}

#search_panel {
    background: #0b0c10;
}

#text_entry {
    /* padding:10px; */
}

#text_entry.view text {
    padding: 10px;
    margin: 10px;
    border: solid silver 1px;
    color: #ddd;
    background: #0d0f14;
    background: linear-gradient(to right, #1d1e22, #26272b);
}

#chat_names {
    background: #0e0e0e;
}

button#chat_names {
    background-color: #000000;
    border: 1px solid#000;
    color: white;
}

button#chat_names:hover {
    border:1px solid #eee;
}

paned separator.wide {
    background: #020303;
}

#box_profile {
    border: 1px solid silver;
    background-color: #eeeeee;
}

notebook list {
    background:linear-gradient(135deg, rgb(49, 49, 49) 0%, rgb(22, 22, 22) 70%);
}

