#box_profile {
    background-color: #00ff00;
    border: 2px yellow solid;
}

#label_stick_tab {
    color: #ffff00;
}

notebook list {
    background:linear-gradient(135deg, rgb(200, 255, 0) 0%, rgb(1, 255, 1) 70%);
}

button#chat_names:hover {
    border:2px solid rgb(255, 0, 221);
}

button#chat_names {
    background-color: rgb(156, 218, 32);
    border: 1px solid yellowgreen;
    color: black;
}

#send_audio_box {
    border: 2px rgb(255, 251, 0) solid;
    background-color: rgb(198, 255, 187);
    border-radius: 4px;
}

/* to change rest chats button */
#dialog_btn {
    background-color: rgb(156, 218, 32);
    color: black;
}

button#dialog_btn:hover {
    border:2px solid rgb(255, 0, 221);
}

 /* to change buttons with searched chats */
#search_user {
    background-color: rgb(156, 218, 32);
    color: black;
}

/* to change search panel background */
#searchbox_bg {
    background-color: #00ff00;
}

#box_profile button {
    color: white;
}

#search_panel {
    background: #00ff15;
}

button:hover {
    border:1px solid rgb(0, 255, 0);
    background: rgb(65, 163, 0);
}

#other_msg {
    padding: 10px;
    border-radius: 5px;
    background: #eeff00;
    margin-right: 250px;
    margin-bottom: 10px;
    color: black;
    border: rgb(146, 146, 146) 1px solid;
}

#time_lbl {
    color: #fff;
}

#grid_stickers {
    background: linear-gradient(135deg, rgb(200, 255, 0) 0%, rgb(1, 255, 1) 70%);
}

#our_msg_box {
    padding: 10px;
    margin-left: 250px;
    margin-right: 0px;
    border-radius: 5px;
    border: whitesmoke 1px solid;
    background: #88ff00;
    color: black;
}

notebook header.top tabs {
    border: 2px solid black;
    background: rgb(255, 230, 0);
}

#text_entry.view text {
    padding: 10px;
    margin: 10px;
    border: solid rgb(49, 0, 0) 1px;
    color: rgb(170, 255, 0);
    background: #303100;
}

#label_stick_tab {
    color: #fff;
}
